@charset "ISO-8859-1";
:root {
  --main-bg-color: rgba(235,235,235,1);
  --secondary-bg-color: #e2d2d2;
  --main-txt-color: #993124;
}

* {
	text-align: center;
}
body {
	background-color: var(--main-bg-color);
	margin: 0;
	width: 100%;
}
h1 {
	color: var(--main-txt-color);
	font-size: 80px;
}

#registering {
	width: 50%;
	margin-left: 25%;
	background-color: var(--secondary-bg-color);
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
}
#registering * {
	text-align: left;
}