<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>tinytwit.HomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>tinytwit.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>tinytwit.UserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>HashTag</servlet-name>
		<servlet-class>tinytwit.HashTagServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HashTag</servlet-name>
		<url-pattern>/hashtag/*</url-pattern>
	</servlet-mapping>
	
  
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>tinytwit.Endpoint</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/api/*</url-pattern>
	</servlet-mapping>
</web-app>